In [1]:
#1. Unique Words
s=input("Enter sentence: ")
w=s.split()
u=set(w)
print(f"Unique words count: {len(u)}")
print(f"Unique words: {u}")

Enter sentence: Python language has nothing to do with Python snake.
Unique words count: 8
Unique words: {'do', 'to', 'has', 'language', 'snake.', 'Python', 'nothing', 'with'}

In [7]:
#2. Highest Salary
e={"Ravi":75000,"Anita":68000,"Kiran":72000}
m=max(e,key=e.get)
print(f"Highest Salary: {m} - {e[m]}")

Highest Salary: Ravi - 75000

In [3]:
#3. Max and Min
n=[45,22,89,10,66]
print(f"List: {n}")
print(f"Max: {max(n)}")
print(f"Min: {min(n)}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [5]:
#4. Count Above Threshold
p=[450,1200,899,1500,300]
c=0
for x in p:
 if x>1000:
  c+=1
print(f"Products above 1000: {c}")

Products above 1000: 2

In [8]:
#5. Attendance Percentage
a=["P","P","A","P","P"]
p=a.count("P")
print(f"Attendance Percentage: {p/len(a)*100}")

Attendance Percentage: 80.0

In [9]:
#6. Unique Phone Numbers
ph=[9876543210,9123456789,9876543210]
print(f"Unique phone numbers: {set(ph)}")

Unique phone numbers: {9876543210, 9123456789}

In [10]:
#7. Character Frequency
s="python"
d={}
for ch in s:
 d[ch]=d.get(ch,0)+1
print(d)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [11]:
#8. List to Tuple
l=[10,20,30]
print(f"Tuple: {tuple(l)}")

Tuple: (10, 20, 30)

In [12]:
#9. Key Existence
k="Ravi"
print("Employee exists" if k in e else "Employee not found")

Employee exists

In [13]:
#10. Average Marks
m=[70,75,80,65,80]
print(f"Average Marks: {sum(m)/len(m)}")

Average Marks: 74.0